{
  "presets": [
    "env",
    "react"
  ],
  
  "plugins": [
  	"transform-object-rest-spread",
    "transform-regenerator"
  ],

  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-regenerator"
      ]
    }
  }
}